* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

*:focus, *:visited {
    color: #222;
    text-decoration: none;
}

html {
    color: #222;
    font-size: 62.5%;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1.0rem;
}

p {
    font-size: 1.4rem;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.column {
    flex-flow: column;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}